# Ignore model directory
models/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore common model file types
*.pt
*.bin
*.safetensors

# Ignore virtual environment folder
venv/

# Exclude all locally cached model files
benchmark2/hf_models/
